:root {
  --black: #0f0f0f;
  --black2: rgb(50, 50, 50);
  --white: #ffffff;
  --icon: #2b2d42;
  --grey: #eeeeee;
  --violet: #6872D8;
  --lavender: #D9DBF1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30px;
  /* padding: 10px; */
  pointer-events: none;
  /* border-radius: 50%; */
  background-color: var(--icon);
}
.App-header {
  display: block;
  float: left;
  height: 30px;
}
.App-link {
  color: #61dafb;
}

.LoadingContainer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Loading {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  padding: 10px;
  /* margin-bottom: 50px; */
  pointer-events: none;
  border-radius: 50%;
  background-color: var(--icon);
}
.ToastImage {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .Loading {
    animation: Loading-spin infinite 1s linear;
  }
}

@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  display: flex;
  max-width: 920px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* padding-left: 5px;
  padding-right: 5px; */
}
.Content {
  width: 100%;
}

.Navbar {
  background-color: white;
}
.NavbarContainer {
  justify-content: space-between;
}
.NavbarLeft {
  display: flex;
}
.NavbarRight {
  display: block;
}
.NavbarBack {
  color: var(--black);
  font-size: 1em;
  margin-right: 8px;
}
.NavbarCompare {
  color: var(--black);
  font-size: 1em;
  margin-right: 10px;
}
.NavbarFilter {
  position: relative;
  padding-right: 10px;  
}
.NavbarFilterIcon {
  color: var(--black);
  font-size: 1em;
}
.FilterTitle {
  color: var(--black);
  font-size: 1em;
}
.FilterContainer {
  display: block;
  padding: 10px;
}
.FilterSegment {
  display: block;
  margin-bottom: 10px;
}
.FilterButton {
  margin: 0 5px 10px;
}
.FilterBadge {
  color: var(--white);
  font-size: .8em;
  position: absolute;
  left: 12px;
  padding: 0px 5px;
  border-radius: 50px;
  background-color: rgb(236, 49, 49);
}

.Item {
  display: block;
  float: left;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.ItemBox {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--grey);
}
.ItemImg {
  width: 100%;
  aspect-ratio: 0.7;
  object-fit: fill;
}
.ItemName {
  color: var(--black);
  height: 50px;
  font-size: .8em;
  padding: 5px 10px;
  overflow: hidden;
}
.GenreList {
  display: flex;
  flex-direction: row;
}
.ItemGenre {
  color: var(--violet);
  font-size: .8em;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 5px 0 5px 5px;
  /* background-color: var(--violet); */
  border: var(--violet) solid 1px;
}

.Profile {
  display: block;
  padding: 10px;
  border-radius: 10px;
}
.MediaBox {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 0 !important;
  padding-right: 10px !important;
  background-color: var(--white);
}
.MediaCol {
  display: block;
}
.MediaRow {
  width: 100%;
  margin: 0 !important;
}
.MediaImageContainer {
  padding: 0 !important;
  position: relative;
}
.CoverImage {
  width: 100%;
  object-fit: fill;
}
.MediaInfoCol {
  display: block;
  padding: 10px 15px;
}
.MediaInfoContainer {
  width: 100%;
}
.MediaTitle {
  width: 100%;
  font-size: 1.2em;
}
.MediaTitleSeparator {
  height: 1px;
  border-bottom: var(--grey) solid 1px;
  margin: 10px 0;
}
.MediaData {
  width: 100%;
}
.MediaLabel {
  max-width: 70px;
  color: var(--black2);
  font-size: .8em;
  line-height: 25px;
  padding: 0 !important;
}
.MediaText {
  color: var(--black);
  font-size: .8em;
  line-height: 25px;
}
.MediaScore {
  position: absolute;
  right: 0;
  color: var(--white);
  padding: 5px;
  font-size: .9em;
  font-weight: bold;
  background-color: var(--icon);
}
.MediaDescription {
  font-size: .9em;
  margin-top: 10px;
}